body{
  margin:0px;
  padding:0px;
  background-color: grey;
}

#navbar{
  width:100%;
  position: fixed;
  margin-top:0px;
  padding:0px;
display: flex;
flex-flow: row wrap;
justify-content: center ;
align-items: center ;
align-content: stretch;
 }

 #navbar header {
  width:100%;
 margin:0px;
 padding:0px;
 background-color:cyan;
 margin-top:-0px ;
 z-index: 1;
 box-shadow:  -1.5px 5px 5px;
overflow:hidden;
}

#navbar img{
  float: left;
  line-height:100px;
  box-sizing:border-box;
  margin-top: 10px;
  padding-left: 3%;
}

 #navbar  p {
  text-align: center;
  color: black;
  font-family: Nova Square;
  float: right;
  padding-right: 3%;
 }

/* lista de capitulos*/

#containerCapitulos{
  padding-top: 30px;
  background-color: grey;
  text-align: center;
  width:100%;
}

#capitulos li{
  width:65%;
  padding:20px;
  background-color: white;
  border: 2px solid black;
  list-style:  outside;
  font-family: Nova Square;
  text-decoration: none;
}

#capitulos li:hover{
  background-color: cyan;
}

#capitulos a href{
  text-decoration: none;
}
